RewriteEngine on
 
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# otherwise forward it to index.php
RewriteRule . index.php

RewriteRule ^assets/?$ - [F,L]
RewriteRule ^css/?$ - [F,L]
RewriteRule ^data/?$ - [F,L]
RewriteRule ^html/?$ - [F,L]
RewriteRule ^images/?$ - [F,L]
RewriteRule ^js/?$ - [F,L]
RewriteRule ^uploads/?$ - [F,L]
RewriteRule info.php - [F,L]
